/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Icons';
  src: url("../../fonts/icons/icomoon.eot");
  src: url("../../fonts/icons/icomoon.eot?#iefix") format("embedded-opentype"), url("../../fonts/icons/icomoon.woff") format("woff"), url("../../fonts/icons/icomoon.ttf") format("truetype"), url("../../fonts/icons/icomoon.svg#Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VAGRoundedBT-Regular';
  src: url("../../fonts/vag/ECAC0_0.eot");
  src: url("../../fonts/vag/ECAC0_0.eot?#iefix") format("embedded-opentype"), url("../../fonts/vag/ECAC0_0.woff") format("woff"), url("../../fonts/vag/ECAC0_0.ttf") format("truetype"), url("../../fonts/vag/ECAC0_0.svg#VAGRoundedBT-Regula") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 22, ../sass/main.scss */
html, body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/* line 27, ../sass/main.scss */
header {
  color: #111111;
  background-color: #b7c8a4;
}
/* line 31, ../sass/main.scss */
header h1 {
  font-family: 'VAGRoundedBT-Regular';
  font-size: 1.8em;
  line-height: 1.8em;
  letter-spacing: -.02em;
  float: left;
}
/* line 39, ../sass/main.scss */
header #searchbox {
  text-align: right;
}
/* line 44, ../sass/main.scss */
header .years:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 54, ../sass/main.scss */
header .years span:after {
  content: "|";
}

/* line 60, ../sass/main.scss */
.firsts {
  display: table-cell;
  table-layout: fixed;
  vertical-align: top;
  width: 15em;
  background-color: #8a9e75;
  overflow: hidden;
}

/* line 69, ../sass/main.scss */
.thumbnails {
  display: table-cell;
  vertical-align: top;
}

/* line 74, ../sass/main.scss */
.thumbnail {
  display: inline-block;
  vertical-align: top;
}
/* line 77, ../sass/main.scss */
.thumbnail a {
  display: block;
}
