@font-face {
    font-family: 'Icons';
    src: url('../../fonts/icons/icomoon.eot');
    src: url('../../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/icons/icomoon.woff') format('woff'),
         url('../../fonts/icons/icomoon.ttf') format('truetype'),
         url('../../fonts/icons/icomoon.svg#Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VAGRoundedBT-Regular';
    src: url('../../fonts/vag/ECAC0_0.eot');
    src: url('../../fonts/vag/ECAC0_0.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/vag/ECAC0_0.woff') format('woff'),
         url('../../fonts/vag/ECAC0_0.ttf') format('truetype'),
         url('../../fonts/vag/ECAC0_0.svg#VAGRoundedBT-Regula') format('svg');
    font-weight: normal;
    font-style: normal;
}