// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-color: #000;
$base-font-family: HelveticaNeue, Arial, sans-serif;
$base-font-weight: $regular;
$base-font-size: 14px;
$base-line-height: 14px;

@import "compass/reset";
@import "compass/css3"; // CSS mixins like border-radius http://compass-style.org/reference/compass/css3/
@import "fonts";
@import "years";

$headerColor: #111;
$headerBackgroundColor: #b7c8a4;
$firstsBackgroundColor: #8a9e75;
$bodyBackgroundColor: #b1ceb3;

html, body {
	font-family: $base-font-family;
	font-size: $base-font-size;
}

body {
	background-color: $bodyBackgroundColor;
}

header {
	color: $headerColor;
	background-color: $headerBackgroundColor;
	
	h1 {
        font-family: 'VAGRoundedBT-Regular';
	    font-size: 1.8em;
	    line-height: 1.8em;
	    letter-spacing: -.02em;
	    float: left;
    }
    
    #searchbox {
		text-align: right;
    }

	// clears the float without adding markup
	.years:before {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	
	.years {
		// separator between each year
		span:after {
   			content: "|";
   		}
	}
}

.firsts {
	display: table-cell;
	table-layout: fixed;
	vertical-align: top;
	width: 15em;
	background-color: $firstsBackgroundColor;
	overflow: hidden;
}

.thumbnails {
	display: table-cell;
	vertical-align: top;
}

.thumbnail {
	display: inline-block;
	vertical-align: top;
	a.title {
		font-weight: bold;
	}
	a {
		display: block;
		text-decoration: none;
		color: $base-color;
	}
}

.month {
	height: 2em;
	line-height: 2em;
	font-weight: bold;
	background-color: #eee;
}
